<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.14.0" newVersion="2.0.14.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <!-- iBatis設定ファイルのパス -->
    <add key="iBatisConfigPath" value="SqlMap.config" />
    <!-- 部品名称（W/H図面名）が異なる場合のマイナス値 -->
    <add key="FROM_WH_PARTS_NAME_POINT" value="100" />
    <!-- 接続先部品名称（W/H図面名）が異なる場合のマイナス値 -->
    <add key="TO_WH_PARTS_NAME_POINT" value="50" />
    <!-- 端子名称が異なる場合のマイナス値 -->
    <add key="TERMINAL_NAME_POINT" value="20" />
    <!-- ピン番号が異なる場合のマイナス値 -->
    <add key="PIN_NO_POINT" value="10" />
    <!-- 線色が異なる場合のマイナス値 -->
    <add key="WIRE_COLOR_POINT" value="5" />
    <!-- コードが異なる場合のマイナス値 -->
    <add key="PARTS_CODE_POINT" value="40" />
    <!-- 最小類似度（これを下回る場合は0とする） -->
    <add key="MIN_SIMILAR_POINT" value="-100" />
  </appSettings>
</configuration>