<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.14.0" newVersion="2.0.14.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <!-- iBatis設定ファイルのパス -->
    <add key="iBatisConfigPath" value="SqlMap.config" />
    <!-- ファイルサーバーのパス -->
    <add key="FILE_SERVER_PATH" value="C:\work\提供資料_バッチ\ServerDirectory\" />
    <!-- ローカルのファイル保存パス -->
    <add key="LOCAL_DATA_DIR" value="C:\work\提供資料_バッチ\DestLocation\" />
    <!-- title.xmlのファイル保存パス -->
    <add key="TITLE_XML_DIR" value="\納品データ\EM3700E\ewd\contents\system\" />
    <!-- *.svgのファイル保存パス -->
    <add key="SVG_DIR" value="\納品データ\EM3700E\ewd\contents\system\figsvg\" />
    <!-- Pub.xmlのファイル保存パス -->
    <add key="PUB_XML_DIR" value="\納品データ\EM3700E\ewd\control\" />
    <!-- parts.xmlのファイル保存パス) -->
    <add key="PARTS_XML_DIR" value="\納品データ\EM3700E\ewd\control\" />
    <!-- filtering.xmlのファイル保存パス -->
    <add key="FILTERING_XML_DIR" value="\納品データ\EM3700E\ewd\filter\" />
    <!-- *.csvのファイル保存パス -->
    <add key="SYUGAKI_CSV_DIR" value="\朱書き\csv\" />
    <!-- {PUB_NO}-Parts.xlsのファイル保存パス -->
    <add key="PUB_NO_PARTS_XLS_DIR" value="\編集データ\" />
    <!-- {PUB_NO}-WireNameList.xlsのファイル保存パス -->
    <add key="PUB_NO_WIRENAMELIST_XLS_DIR" value="\編集データ\" />
    <!-- 課題フォルダのパス -->
    <add key="KADAI_FILE_DIR" value="C:\work\提供資料_バッチ\ServerDirectory\課題\" />
    <!-- *設計チェック送付Ref No管理表.xlsの配置フォルダ -->
    <add key="SEKKEI_CHECK_FILE_DIR" value="" />
    <!-- 設定内容 -->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>