<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.14.0" newVersion="2.0.14.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <!-- iBatis設定ファイルのパス -->
    <add key="iBatisConfigPath" value="SqlMap.config" />
	  
    <!-- 朱書き対象とする最低の類似度 -->
	<!-- ※この類似度を下回る場合、朱書き対象とならず追加結線の対象となる -->
    <add key="TARGET_SYUGAKI_MIN_POINT" value="50" />
	  
    <!-- 朱書きする際のフォントサイズ -->
    <add key="SYUGAKI_FONT_SIZE" value="6" />
	  
    <!-- 朱書きする位置に対しての補正値 -->
	<!-- 例えば設定が10,朱書き位置が"左下"の場合、座標値に対してX-10, Y+10となる -->
    <add key="SYUGAKI_OFFSET_SIZE_X" value="0" />
	<add key="SYUGAKI_OFFSET_SIZE_Y" value="0" />
	  
    <!-- 雛形ファイルを作成するフォルダ -->
    <add key="HINAGATA_DIR" value=".\HINGATA\" />
	  
	<!-- テンプレートファイル保存パス -->
	<add key="LOCAL_DATA_DIR" value="C:\work\提供資料_バッチ\DestLocation\" />
	<add key="SVG_DIR" value="\納品データ\EM3700E\ewd\contents\system\figsvg\" />
	 

	  <!-- 経線色表 -->
	  <add key="WIRE_COLOR_AM" value="#F8B500" />
	  <add key="WIRE_COLOR_B" value="#000000" />
	  <add key="WIRE_COLOR_BE" value="#C3AF96" />
	  <add key="WIRE_COLOR_BR" value="#992903" />
	  <add key="WIRE_COLOR_DG" value="#666666" />
	  <add key="WIRE_COLOR_G" value="#008837" />
	  <add key="WIRE_COLOR_GR" value="#999999" />
	  <add key="WIRE_COLOR_L" value="#00A0C6" />
	  <add key="WIRE_COLOR_LA" value="#BFB1C5" />
	  <add key="WIRE_COLOR_LG" value="#7FC97F" />
	  <add key="WIRE_COLOR_O" value="#FF7F00" />
	  <add key="WIRE_COLOR_P" value="#F668B2" />
	  <add key="WIRE_COLOR_R" value="#FF0000" />
	  <add key="WIRE_COLOR_SB" value="#99D9E8" />
	  <add key="WIRE_COLOR_V" value="#56077D" />
	  <add key="WIRE_COLOR_W" value="#FFFFFF" />
	  <add key="WIRE_COLOR_Y" value="#FFE600" />
	  
  </appSettings>
</configuration>